@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import '@/styles/settings/colors';

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: $text-100;
  background-color: $bg-100;
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: $accent-100;
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background-color: $accent-200;
}
