@import '@/styles/atoms/ui-list';
@import '@/styles/elements/links';
@import '@/styles/settings/colors';

.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8rem 3.2rem;
  box-sizing: border-box;
}

.brand {
  @include non-link;
  color: $primary-100;
  outline-color: $primary-300;
  background-color: $bg-200;
  border-radius: 100vmax;
  padding: 0.4rem;
}

.navigation {
  @include horizontal-list;

  place-content: center;
  gap: 2rem;
  font-size: 12pt;
  box-sizing: border-box;
}

.item:active {
  scale: 0.9;
}

.link {
  display: inline-block;
  @include non-link;
  color: $text-200;
  outline-color: $primary-300;
  font-weight: 600;
  transition: color border 100ms ease;
  user-select: none;

  &:hover {
    color: $text-100;
  }

  &:active {
    color: $accent-100;
  }
}

.link:not(.auth).active {
  display: inline;
  color: $accent-100;
  background-color: $accent-200;
  padding: 0.4rem 0.8rem;
  border-radius: 100vmax;
}

.auth {
  & > .item {
    & > .link {
      display: inline;
    }

    &:last-child > .link {
      padding: 0.8rem;
      border-radius: 1vmin;
      border: 2px solid $accent-200;

      &:hover {
        border-color: $accent-100;
      }

      &:active {
        border-color: $accent-100;
      }
    }
  }
}

.session {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;

  & > .username {
    font-size: 12pt;
    color: $text-200;
    outline-color: $primary-300;
    font-weight: 600;
    letter-spacing: 0.8px;
    user-select: none;
  }

  & > .button {
    display: inline-block;
    text-align: center;
    background-color: transparent;
    padding: 0;
    border: none;
    outline-color: $primary-300;

    & > .arrow {
      color: $primary-300;

      &:active {
        scale: 0.9;
      }
    }

    &:focus + .dropdown {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.dropdown {
  position: absolute;
  right: 0;
  top: calc(100% + 0.52rem);
  background-color: $bg-200;
  padding: 1.2rem 1.6rem;
  border: 2px solid $primary-300;
  border-radius: 1vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

  & > .menu {
    @include non-list;
    display: grid;
    grid-template-columns: max-content;

    & > .item {
      font-size: 10pt;
      font-weight: 600;
      letter-spacing: 0.25px;
    }

    & .logout {
      display: inline-flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      gap: 0.4rem;
      background-color: transparent;
      padding: 0;
      border: none;
      outline-color: $primary-300;
    }
  }
}
