@import '@/styles/atoms/ui-list';
@import '@/styles/elements/links';
@import '@/styles/settings/colors';

.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 3.2rem;
  box-sizing: border-box;
}

.brand {
  @include non-link;
  color: $primary-100;
}

.navigation {
  @include horizontal-list;

  place-content: center;
  gap: 3.2rem;
  font-size: 12pt;
  box-sizing: border-box;
}

.link {
  display: inline-block;
  @include non-link;
  color: $text-200;
  font-weight: 600;
  transition: color border 100ms ease;

  &:hover {
    color: $text-100;
  }

  &:active {
    color: $accent-100;
  }
}

.link:not(.auth).active {
  display: inline;
  color: $accent-100;
  background-color: $accent-200;
  padding: 0.4rem 0.8rem;
  border-radius: 100vmax;
}

.auth {
  & > .item {
    & > .link {
      display: inline;
    }

    &:last-child > .link {
      padding: 0.8rem;
      border-radius: 1vmin;
      border: 2px solid $accent-200;

      &:hover {
        border-color: $accent-100;
      }

      &:active {
        border-color: $accent-100;
      }
    }
  }
}
