$primary-100: #ffb347;
$primary-200: #de9629;
$primary-300: #925700;
$accent-100: #8e44ad;
$accent-200: #ffd6ff;
$text-100: #333333;
$text-200: #5c5c5c;
$bg-100: #f5f5f5;
$bg-200: #ebebeb;
$bg-300: #c2c2c2;
