@import '@/styles/elements/links';
@import '@/styles/settings/colors';

.main {
  place-content: center;
  grid-template:
    'title image' 1fr
    'text image' max-content
    'button image' 1fr /
    60% 1fr;
  gap: 2rem;
  box-sizing: border-box;
  overflow: hidden;
}

.title {
  grid-area: title;
  align-self: end;
  font-size: 28pt;
}

.text {
  grid-area: text;
  font-size: 14pt;
}

.button {
  @include non-link;
  grid-area: button;
  justify-self: center;
  align-self: start;
  font-size: 14pt;
  font-weight: 500;
  background-color: $primary-100;
  outline-color: $primary-300;
  border: 2px solid $text-200;
  border-radius: 1vmin;
  padding: 0.8rem;

  &:hover {
    border-color: $text-100;
  }

  &:active {
    scale: 0.9;
  }
}

.image {
  grid-area: image;
  justify-self: center;
  width: 100%;
  height: 80vh;
  aspect-ratio: 3/2;
  object-fit: contain;
  border-radius: 75vmax;
  background-color: $primary-200;
  background-clip: padding-box;
}
